body, html {
    height: 100%;
    background-color: #222629;
}
/* Removes whitespace around hero image */
* {
    margin: 0;
}


.hero-image {
    background-image: url("Images/HeroImg.jpg");
  
    /* Set a specific height */
    height: 20%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    border-bottom: 5px solid white;
  }

  .offer {
      background-image: url("Images/Offer.jpg");

    /* Set a specific height */
    height: 60%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    border-bottom: 5px solid white;
  }


  h1 {
      padding-top: 40px;
      padding-left: 20px;
      font-family: 'Source Code Pro', monospace;
      color: white;
      text-align: left;
      font-size: 50px;
  }
  h2 {
    padding-top: 30px;
    padding-left: 20px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    text-align: left;
    font-size: 25px;
}
h3 {
  padding-left: 20px;
  font-family: 'Source Code Pro', monospace;
  color: white;
  text-align: left;
  font-size: 15px;
  padding-bottom: 10px;
}

  p {
    padding-left: 20px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    text-align: left;
    font-size: 20px;
}


#menu {
  font-family: 'Source Code Pro', monospace;
  border-collapse: collapse;
  width: 100%;
}

#menu td, #menu th {
  padding: 8px;
  color: white;
}

#menu th {
  font-size: 25px;
  padding-top: 35px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}


.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  padding-bottom: 70px;
}  

.flex-child:first-child {
  margin-right: 20px;
}


.contact {
  width: 30%;
}
.map {
  width: 70%;
}


.footer {
  height: 8%;
  width: 100%;

  border-top: 5px solid white;
  background-color: #FF7701;
  display: block;
}